/* 
 * Custom Style
 * Background from https://www.heropatterns.com
 */


body    {
            font-family: 'Montserrat', sans-serif;
            background-color: #ffffff;
}

header {
            padding: 154px 0 100px;
            background-color: #007bff;
            background-image: url("/static/img/header1.jpg");
            background-repeat: no-repeat;
            background-position: left top;
            font-family: 'Bangers', cursive;
            color: #fff;
}

section {
  padding: 100px 0;
}
