{% extends "base.html" %}
{% block title %}Err 404: Page Not Found{% endblock %}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>404 : <small class="text-muted">Page Not Found</small></h1>
        </div>
        <div class="alert alert-warning" role="alert">
            <span class="icon-info" aria-hidden="true">::before</span>
            The resource you are looking for is mia.

        </div>
        <p>
            <img class="media-object" src="{{ url_for('static', filename='img/error-404.png') }}" alt="404" height="100" width="100">
        </p>
    </div>
{% endblock %}

