{% extends "base.html" %}
{% block title %}Err 500: Server Error{% endblock %}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>500 : <small class="text-muted">Server Error</small></h1>
        </div>
        <hr>
        <div class="alert alert-danger" role="alert">
            <table class="table table-borderless">
            <tbody>
            <tr>
                <td>
                    <i data-feather="x-octagon" color="#58151C"></i>
                </td>
                <td>
                    <p> Internal server error, I think we messed up.</p>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}

