<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- Headers and Meta Data –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta name="language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Rowan Chapman">
    <meta name="description" content="A basic password generator also avaiable via a RESTful API">
    <meta name="keyphrases" content="Rowan Chapman, Rowan Chapman PW, Rowan Chapman personal web site, Rowan Chapman personal web, Rowan Chapman micro site">
    <meta name="keywords" content="Rowan, Chapman, Chappy, rnchapman, rchapman83">
    <!-- Favicon --------------–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- Humans TXT --------------––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link type="text/plain" rel="author" href="{{ url_for('static', filename='humans.txt') }}">
    <!-- Style Sheets --------------––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <!-- Font --------------––––––––––––––––––––––––––––––––––––---––––––-----––– -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
    
    <title>{% block title %}{% endblock %}</title>
    <!--  End Header –––––––––––––––––-----------––––––––––––––––––––––––––-––––– -->
    {% endblock %}
</head>
<body>
    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––----–––––-––– -->
    {% block content %}{% endblock %}
    <!-- Scripts --------------––––––––––––––––––––––––––––––––––––––––––------–– -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- End Document  –––––––––––––––––––––––––––––––––––––––––––––––––––----––– -->
</body>
</html>
