<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta name="language" content="en">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Rowan Chapman">
  <meta name="description" content="A basic password generator also avaiable via a RESTful API">
  <meta name="keyphrases" content="Rowan Chapman, password generator, etc passwd, password generator api, password studio, passwd studio">
  <meta name="keywords" content="Rowan, Chapman, Chappy, etc-passwd, passwd, password, generator, passwd.studio">

  <link rel="icon" href="{{ url_for('static', filename='img/password.png') }}">
  <link type="text/plain" rel="author" href="{{ url_for('static', filename='humans.txt') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
<!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">{% block content %}{% endblock %}</div>
<!-- End Document  –––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
