<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- Headers and Meta Data –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Rowan Chapman">
    <meta name="robots" content="index, follow">
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Cache-Control' content='no-cache'>
    <meta name="revisit-after" content="180 days">
    <meta name="copyright" content="Rowan Chapman">
    <meta name="description" content="The personal website of Rowan Chapman - IT Pro">
    <meta name="keyphrases" content="Rowan Chapman, Rowan Chapman PW, Ro Ro, network engineer, cybersecurity, cybersecurity specialist,Rowan Chapman personal website, Rowan Chapman personal web, Rowan Aireys Inlet, Rowan Chapman micro site, rowan name origin">
    <meta name="keywords" content="Rowan, Chapman, Chappy, rnchapman, rchapman83, hacker, Nathanial, technologist, chapmanrowan, IT, Row, Ro, RoRo, Rojo, Melbourne, Australia">
    <!-- Open Graph  --------------–––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rnnchapman.pw/" />
    <meta property="og:title" content="Rowan Chapman [Personal Website]" />
    <meta property="og:description" content="The personal website of Rowan Chapman - IT Pro" />
    <meta property="og:image" content="{{ url_for('static', filename='img/favicon.png') }}" />
    <!-- Favicon --------------–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- Humans TXT --------------––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link type="text/plain" rel="author" href="{{ url_for('static', filename='humans.txt') }}">
    <!-- Style Sheets --------------––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <!-- Font --------------––––––––––––––––––––––––––––––––––––---––––––-----––– -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Bangers|Montserrat" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117445633-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-117445633-1');
    </script>
    
    <title>{% block title %}{% endblock %}</title>
    <!--  End Header –––––––––––––––––-----------––––––––––––––––––––––––––-––––– -->
    {% endblock %}
</head>
<body>
    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––----–––––-––– -->
    {% block content %}{% endblock %}
    <!-- Scripts --------------––––––––––––––––––––––––––––––––––––––––––------–– -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <!-- End Document  –––––––––––––––––––––––––––––––––––––––––––––––––––----––– -->
</body>
</html>
