{% extends "base.html" %}
{% block title %}[rnchapman.pw] > Colophon {% endblock %}
{% block content %}
    <!-- Begin page content -->
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">rnchapman.pw</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#about">About</a>
                <a class="nav-item nav-link" href="#contact">Contact</a>
            </div>
        </div>
    </div>
    </nav>
    <!-- Header -->
    <header class="bg-primary text-white">
        <div class="container text-center">
                <h1>Colophon</h1>
        </div>
    </header>

    <section id="colophon">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Foreword</h2>
            <p>I always hesitate to document what I use to power my site. Mostly because I constantly hack on it and iterate on the “platform.”
            I have been hacking on my personal website since 1994 (Geocities RPRZNT). It has gone through many iterations, locations and technologies. From 1994’s html and cgi scripts to php and mysql and then back to static html (powered by an API). It has been quite a tour through web technology. The irony of starting with mostly static HTML and returning after twenty years back to static HTML isn’t lost on me.
            I often use my website as a way to test new technology. With this in mind, I am constantly making things “better.”
            Thanks to Aaron Salmon for the amazing new design (Apr 2018). You should hire him.
            This is the technology that powers harperreed.com (Apr 2018):</p>
            <h2>Frontend</h2>
            <p></p>
            <h2>Hosting</h2>
            <p></p>
            <h2>Change Log</h2>
            <p></p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}