{% extends "base.html" %}
{% block title %}[rnchapman.pw] > Colophon {% endblock %}
{% block content %}
    <!-- Begin page content -->
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">rnchapman.pw</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- Nothing to see here -->
            </div>
        </div>
    </div>
    </nav>
    <!-- Header -->
    <header>
        <div class="container text-center">
                <h1 class="display-1">Colophon</h1>
        </div>
    </header>

    <section id="colophon">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Foreword</h2>
            <p>I have had a personal site since the mid-90s, i'll never forget those fond (painful) memories from the dawn of my time on the Interwebs.
            It was spent connecting to a FTP site over a 56Kbps dial-up connection (eeeeiiii ooorrrrrr crrrr). I had a single goal in mind, to upload HTML containing a
            distasteful amount of animated gifs to a site none would ever visit. Version 2.0 contained a hit counter and a guest book I believe - Geocities REPREZENT! 
            </p>
            <p>
            Fast forward many years and many iterations later, i'm still making sites that no one will ever visit.  
            </p>
            <h2>Frontend</h2>
                <ul>
                    <li>Bootstrap4 CSS framework</li>
                    <li>Beautiful open source glyths from Feather Icons</li>
                    <li>Flask microframework for Python</li>
                </ul>
            <h2>Hosting</h2>
                <ul>
                    <li>Green Unicorn application server</li>
                    <li>Redhat OpenShift container application platform</li>
                </ul>
            <h2>Change Log</h2>
                <p>...</p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}