{% extends "base.html" %}
{% block title %}[rnchapman.pw]{% endblock %}
{% block content %}
    <!-- Begin page content -->
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">rnchapman.pw</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#about">About</a>
                <a class="nav-item nav-link" href="#contact">Contact</a>
                <a class="nav-item nav-link" href="/colophon">Colophon</a>
            </div>
        </div>
    </div>
    </nav>
    <!-- Header -->
    <header>
        <div class="container text-center">
            <h1 class="display-1">
                Rowan Chapman
            </h1>
            <h4>
               IT Pro // Hacker // Drinker of Ales
            </h4>
        </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Hello, I'm Rowan.</h2>
            <div class="media">
            <!-- <img src="{{ profilePic }}" class="rounded" alt="Gravatar"> -->
            <img class="align-self-start mr-3 rounded" src="{{ profilePic }}" alt="Gravatar">
            <div class="media-body">
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            </div>            
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact</h2>
            <p class="lead">You can hit me up via which ever social media platform is your fav.</p>
            <br>
            <!-- Glyths from feathericons.com-->
            <div class="row">
                <div class="col-sm">
                    <a href="https://www.facebook.com/rnchapman"><i data-feather="facebook"></i><span class="align-middle"> rnchapman </span></a>
                </div>
                <div class="col-sm">
                    <a href="https://twitter.com/rchapman83"><i data-feather="twitter"></i><span class="align-middle"> rchapman83 </span></a>
                 </div>
                <div class="col-sm">
                    <a href="https://www.instagram.com/chapmanrowan/"><i data-feather="instagram"></i><span class="align-middle"> chapmanrowan </span></a>
                </div>
                <div class="col-sm">
                    <a href="https://github.com/rchapman83/"><i data-feather="github"></i><span class="align-middle"> rchapman83 </span></a>
                </div>
                <div class="col-sm">
                    <a href="https://www.linkedin.com/in/rowan-chapman-b0686895"><i data-feather="linkedin"></i><span class="align-middle"> LinkedIn </span></a>
                </div>
            </div>            
          </div>
        </div>
      </div>
    </section>
{% endblock %}