{% extends "base.html" %}
{% block title %}Liveness checks{% endblock %}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Status Page</h1>
        </div>
        <hr>
        <div class="alert alert-success" role="alert">
            <table class="table table-borderless">
            <tbody>
            <tr>
                <td>
                    <i data-feather="check-square" color="#0A3622"></i>
                </td>
                <td>
                    <p> Everything is ok.</p>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}

